* {
	border: none;
	border-radius: 0;
	font-family: Hack Nerd Font, monospace;
	font-weight: bold;
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background: rgba(21, 18, 27, 0);
	color: #cdd6f4;
}

tooltip {
	background: #af9270;
	border-radius: 10px;
	text-shadow: none;
}

#workspaces button {
	padding-left: 5px;
	padding-right: 9px;
	padding-top: 5px;
	padding-bottom: 5px;
	/* color: #313244; */
	color: #ceb67a;
	margin-right: 5px;
}

#workspaces button.active {
	/* color: #a6adc8; */
	color: #eae9cb;
}

#workspaces button.focused {
	color: #eae9cb;
	/* background: #eba0ac; */
	border-radius: 10px;
}

#workspaces button.urgent {
	color: #eae9cb;
	/* background: #a6e3a1; */
	border-radius: 10px;
}

#workspaces button:hover {
	background: #788056;
	color: #eae9cb;
	border-radius: 10px;
	box-shadow: none;
	text-shadow: none;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
	/* THIS RIGHT HERE */
	background: #af9270;
	/* background: #1e1e2e; */
	padding: 0px 10px;
	margin: 3px 0px;
	margin-top: 10px;
	/* border: 1px solid #181825; */
	/* border: 1px solid #6d6d34; */
}

#tray {
	border-radius: 10px;
	margin-right: 10px;
}

#workspaces {
	/* background: #1e1e2e; */
	border-radius: 10px;
	margin-left: 10px;
	padding-right: 1px;
	padding-left: 5px;
}

#custom-caffeine {
	color: #eae9cb;
	border-radius: 10px 0px 0px 10px;
	border-right: 0px;
	margin-left: 10px;
}

#custom-language {
	color: #eae9cb;
	border-left: 0px;
	border-right: 0px;
}

#custom-updates {
	color: #eae9cb;
	border-left: 0px;
	border-right: 0px;
	border-radius: 10px 0px 0px 10px;
	padding-left: 15px;
}

#window {
	color: #eae9cb;
	border-radius: 10px;
	/* margin-left: 5px; */
	/* margin-right: 60px; */
}

#clock {
	color: #eae9cb;
	border-radius: 10px 10px 10px 10px;
	margin-left: 5px;
	margin-right: 10px;
	border-right: 0px;
}

#network {
	color: #eae9cb;
	border-left: 0px;
	border-right: 0px;
}

#pulseaudio {
	color: #eae9cb;
	border-left: 0px;
	border-right: 0px;
}

#pulseaudio.microphone {
	color: #eae9cb;
	margin-right: 5px;
	border-radius: 0 10px 10px 0;
}

#battery {
	color: #eae9cb;
	border-radius: 0 10px 10px 0;
	margin-right: 10px;
	border-left: 0px;
}

#custom-weather {
	border-radius: 10px 10px 10px 10px;
	border-right: 0px;
	margin-left: 0px;
	color: #eae9cb;
}
